<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.number_of_pages %>
</p>
<!-- new code from here-->
<p>
  <strong>Details :</strong>
  <%= @book.detail %>
</p>
<p>
  <% if @book.image.attached? %>
    <%= image_tag @book.image, class: "img-responsive" %>
  <% end %>
</p>
<h2>Review Form</h2>
<%= render "book_reviews/form", book_review: @book_review, book: @book %>

<h2>Review List</h2>
<table>
  <tbody>
    <% @book.book_reviews.each do |book_review| %>
      <tr>
        <td>&emsp; &#9679 <%= book_review.review %> (<%= book_review.user.name %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--End here-->
<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Back', books_path %>
